.modal-background {
  background-color: rgba(32, 35, 41, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 200px;
  width: 24rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow-y: auto;
  padding: 1rem;
  gap: 10px;
}

@media (width >= 40rem){ /* 640px */
  .modal-container{
    width: 25rem;
  }
}

.modal-header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}