.form-actions{
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-evenly;
}

form {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  gap: 1.9rem;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 1.400rem;
  color: #1E1E1F;
}

textarea {
  resize: none;
  background-color: #F9FBFC;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #1E1E1F;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.5rem;
  height: 9rem;
  width: 100%;
}

textarea::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color: #61DAFA;
}