.input {
  border-radius: 5px;
  width: 100%;
  height: 2.5rem;
  margin: 0 auto;
  font-size: 1.100rem;
  border: 0.5px solid rgba(211, 211, 211, 0.445);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding-inline: 10px;
}